# Hello World

In [1]:
b = [1,2,3]
b?

In [ ]:
import numpy as np

np.*load*?

In [2]:
a = 5

isinstance(a, int)

True

In [6]:
a = 5
b = 2.5
isinstance(a, (int,float)), isinstance(b, (int, float))

(True, True)

In [7]:
def isiteratable(ob):
    try:
        iter(ob)
        return True
    except TypeError:
        return False
    
isiteratable("this is my string"), isiteratable([1,2,3,4]), isiteratable(5)

(True, True, False)

In [9]:
a = 5
b = 3
#bitwise AND operator in this ex: 001, bitwise OR operator ex: 111
a&b, a|b

(1, 7)

In [15]:
a = [1,2,3]
b=a.copy()

c = list(a)
#a is b will return false because you reated copy
#the same is when you create list() type, because c is copy of a
a is b, c is not a

(False, True)

In [18]:
c = """
today you are going to
say that everything
goes wrong
"""
c.count("\n"), c[15]

(4, 'g')

In [21]:
b = c.replace("are going to", "will")
b, c

('\ntoday you will\nsay that everything\ngoes wrong\n',
 '\ntoday you are going to\nsay that everything\ngoes wrong\n')

In [22]:
w = "python"
list(w)

['p', 'y', 't', 'h', 'o', 'n']

In [23]:
#{0:.2f} means format the first argument as a floating point number with 2 decimal places
#{1:s} menas format the second argument as a string
#{2:d} means format the third argument as an exact integer
template = "{0:.2f} {1:s} are worth US${2:d}"
#now substitute
template.format(88.46, "Argentine pesos", 1)

'88.46 Argentine pesos are worth US$1'

In [25]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate:.2f}"
result

'10 Pesos is worth US$0.11'

In [27]:
#date and time datatypes
from datetime import datetime, date, time
dt = datetime(2022,10,29,20,30,21)
dt.day, dt.minute, dt.date(), dt.time(), dt.strftime("%Y-%m-%d  %H:%M")

(29,
 30,
 datetime.date(2022, 10, 29),
 datetime.time(20, 30, 21),
 '2022-10-29  20:30')

In [28]:
#convert string to datetime
datess = "20091031"
datetime.strptime(datess, "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [29]:
dt = datetime(2022,10,29,20,30,21)
dt_hr = dt.replace(minute=0, second=0)
dt_hr

datetime.datetime(2022, 10, 29, 20, 0)

In [32]:
#difference between 2 datetime objects
dt1 = datetime(2011,11,15,22,30)
delta = dt1 - dt_hr
adding = dt1 + delta
delta, adding

(datetime.timedelta(days=-4001, seconds=9000),
 datetime.datetime(2000, 12, 2, 1, 0))