TUPLES

In [15]:
#convert any sequence to tuple
listi = [2,3,4]
mystring = "Bujari"
a, b = tuple(listi), tuple(mystring)

#accessing tuple
a[0], b[2]

(2, 'j')

In [5]:
#if you have nested
nestedtuple = (3,2),(3,2,5)
nestedtuple[0], nestedtuple[0][1]

((3, 2), 2)

In [7]:
#if an object inside tuple is a mutable object like list, you can change or add new items
#otherwise you cannot
tup = (3,['a','e'], True)
#this will throw error TypeError: 'tuple' object does not support item assignment
#tup[1] = False

#this does not throw error
tup[1].append('x')
tup

(3, ['a', 'e', 'x'], True)

In [8]:
#tuple concatenation
a = (2,4,3)
b= ('w','r','2')
a+b, (a+b)*3

((2, 4, 3, 'w', 'r', '2'),
 (2, 4, 3, 'w', 'r', '2', 2, 4, 3, 'w', 'r', '2', 2, 4, 3, 'w', 'r', '2'))

In [9]:
#you can unpack tuples
a,b,c = (2,4,7)

#swapping in python
a,b = b,a 

#printing sequences
seq = [(2,3,4),(1,0,7),(3,4,5)]
for a,b,c in seq:
    print(f"a = {a}, b = {b}, c = {c}")

a = 2, b = 3, c = 4
a = 1, b = 0, c = 7
a = 3, b = 4, c = 5

In [10]:
#you can print or assign values like this, with command *rest
vals = (1,2,3,4,5,6)
a,b, *rest = vals
rest

#assign for unwanted variables
a,b, *_ = vals

#methods from tuple
a = (1,2,5,2,6,7,9,2)
#let's see how many 2s
a.count(2)

3

LIST

In [16]:
#convert tuple to list
#call this to delete list variable if you used in your code
del list
tup = (3,2,6,0)
a = list(tup)
a

[3, 2, 6, 0]

In [18]:
#data processing example for list
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#adding and removing elements in the list
w = [5,4,3,6]
w.append(3)

#by using insert you can add to specific location
q = w.copy()
q.insert(1, 2)
w, q

([5, 4, 3, 6, 3], [5, 2, 4, 3, 6, 3])

In [27]:
#removing an item from the list by index
#it will remove the item with index 2
w = [5,4,3,6]
w.pop(2)

#remove by value
y = w.copy()
y.remove(5)
w,y

([5, 4, 6], [4, 6])

In [29]:
#checking if exist the value inside the list
r = [5,5,3,4,1]

5 in r, 0 not in r

(True, True)

In [32]:
#concatenating list
a = [2,1,5]
b = [4,1,8,9]
a+b

#if you need to extend one variable by adding all elemens from different variable list
#use extend instead of + for concatenation for performance reason
a.extend(b)
a

[2, 1, 5, 4, 1, 8, 9]

In [35]:
#sorting list
a = [4,2,7,1,7,8,0]
a.sort()

#sorting by length
r = ["ace", "meco", "raterw","e", "loo"]
r.sort(key=len)
r

['e', 'ace', 'loo', 'meco', 'raterw']

In [41]:
#sequence slicing
seq = [2,5,1,0,4,5,6]

#adding new values to sliced elements
seq[2:4] = [0,0]

#5 last elements
seq[-5:]

#from last 5 elements until 2 last elements
seq[-5:-2]

#take every other element
seq[::2]

#reversing the list
seq[::-1]

[6, 5, 4, 0, 0, 5, 2]

DICTIONARY

In [43]:
#adding new element on dictionary
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1[7] = "my integer"
d1 , d1["a"]

({'a': 'some value', 'b': [1, 2, 3, 4], 7: 'my integer'}, 'some value')

In [45]:
#checking if a key exist in a dictionary
"a" in d1, "some" not in d1

(True, True)

In [53]:
d2 = {"a": "some value", "b": [1, 2, 3, 4]}
d2["macule"] = (5,2,1,0)

#delete by key
del d2['macule']

#delete by pop using key
d2.pop("a")
d2

#passing deleted value
ret = d2.pop("a")
ret

'some value'

In [56]:
#converting keys to list
d3 = {"a": "some value", "b": [1, 2, 3, 4]}
alist = list(d3.keys())

#converting values to list
blist = list(d3.values())

#if you need iterations by keys and values
clist = list(d3.items())
alist, blist, clist

(['a', 'b'],
 ['some value', [1, 2, 3, 4]],
 [('a', 'some value'), ('b', [1, 2, 3, 4])])

In [58]:
#if you need to update dictionary
d4 = {"a": "some value", "b": [1, 2, 3, 4]}
d4.update({"a":"let's go", "c":"fero"})
d4

{'a': "let's go", 'b': [1, 2, 3, 4], 'c': 'fero'}

In [59]:
#creating dictionaries from sequences
my_keys = ["a", "b", "c"]
my_vals = [7, "eros", (2,3,4)]
dicti = {}
for k, v in zip(my_keys, my_vals):
    dicti[k] = v

dicti

{'a': 7, 'b': 'eros', 'c': (2, 3, 4)}

In [60]:
#converting tuples to dictionary
a = (3,4,5)
b = ("alo", [3,5,"meco"], 4)
dicti = dict(zip(a, b))
dicti

{3: 'alo', 4: [3, 5, 'meco'], 5: 4}

In [64]:
#adding dictionary by alphabet
words =["tera", "gerim", "azim", "gogo", "atom"]
wrds_dict = {}
for wrd in words:
    letter = wrd[0]
    if letter not in wrds_dict:
        wrds_dict[letter] = [wrd]
    else:
        wrds_dict[letter].append(wrd)
wrds_dict

#the same approach can be achieved by setdefault method
wrds_dict1 = {}
for wrd in words:
    letter = wrd[0]
    wrds_dict1.setdefault(letter, []).append(wrd)
    
#the third same approach
from collections import defaultdict
wrds_dict2 = defaultdict(list)

for wrd in words:
    wrds_dict2[wrd[0]].append(wrd)
    
wrds_dict, wrds_dict1, wrds_dict2

({'t': ['tera'], 'g': ['gerim', 'gogo'], 'a': ['azim', 'atom']},
 {'t': ['tera'], 'g': ['gerim', 'gogo'], 'a': ['azim', 'atom']},
 defaultdict(list,
             {'t': ['tera'], 'g': ['gerim', 'gogo'], 'a': ['azim', 'atom']}))

SET

In [72]:
#Sets can be created in 2 ways
set([2,4,2,5,6,5])
#or
{2,4,2,5,6,5}

#sets support mathematical operations as union, intersection, difference and symmetric difference
a = {0,2,1,4,5,1}
b = {3,1,0,4}
a.union(b)
#or by
a|b

#intersection
a.intersection(b)
#or by
a&b

{0, 1, 4}

In [78]:
#list of set methods
a = {0,2,1,4,5,1}
#adding element to a set
a.add(6)

#remove all elements in a set
#a.clear()

#remove element
a.remove(0)

#removing from the beggining
a.pop()

{2, 4, 5, 6}

In [80]:
#check if a set is a subset of another set
a = {4,3,1,6,3}
b = {4,1,3}
b.issubset(a), {2,1,5} == {5,2,1}

(True, True)

BUILT IN FUNCTIONS

In [84]:
sorted([4,7,1,2,4]), sorted("maca e babit"), list(reversed(range(10)))

([1, 2, 4, 4, 7],
 [' ', ' ', 'a', 'a', 'a', 'b', 'b', 'c', 'e', 'i', 'm', 't'],
 [9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

COMPREHENSIONS

In [91]:
a = ["a","ferona","ac", "yuit", "reta"]
[val.upper() if len(val) > 2 else val.lower() for val in a ]

['a', 'FERONA', 'ac', 'YUIT', 'RETA']

In [94]:
#dictionary comprehensions
ke = ["a","b","c"]
val = [1,2,3]

edict = {key: vali for key, vali in zip(ke,val)}
edict

{'a': 1, 'b': 2, 'c': 3}

In [100]:
mat_names = [["Aria", "Bombola", "Akunala"],
            ["ZicZac", "Aci", "Arambalo"],
             ["Lecutemua", "Zizi","Eros"]]
lom = []
for x in mat_names:
    addme = [x1 for x1 in x if x1.count("a") >= 2]
    lom.extend(addme)

#the same approach you can do it like this
lom1 = [v for x in mat_names for v in x if v.count("a") >= 2]
lom, lom1

(['Akunala', 'Arambalo'], ['Akunala', 'Arambalo'])

In [104]:
#adding all elements in one
y = [(2,3),{3,2,5,6},(1,0,4)]

lis = [j for i in y for j in i if j>2]
lis

[3, 3, 5, 6, 4]

In [106]:
#let's add from tuples to matrix
y = [(2,3,1),(3,2,5),(1,0,4)]
mat = [[i for i in tup] for tup in y]
mat

[[2, 3, 1], [3, 2, 5], [1, 0, 4]]

FUNCTIONS

In [108]:
#cleaning bad characters
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south   carolina##", "West virginia?"]

import re

def cleaning(stri):
    res = []
    for v in stri:
        v = v.strip()
        v = re.sub("[!#?]","", v)
        v = v.title()
        res.append(v)
    return res

a = cleaning(states)
a

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [110]:
#using lambda annonymus
def by_func(x):
    return x*2
a = by_func(5)

#the same approach with lambda
b = lambda x: x*2

a,b(5)

(10, 10)

In [111]:
#combinations functions and lambda
a = [2,3,4]
def my_func(lst, f):
    return [f(i) for i in lst]

ret = my_func(a, lambda x: x**2)
ret

[4, 9, 16]

In [112]:
#sorting method by using lambda
strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [113]:
#generating iterators
#adding keys in list
some_dict = {"a": 1, "b": 2, "c": 3}
a = iter(some_dict)
a = list(a)
a

['a', 'b', 'c']

ERROR HANDLING

In [116]:
#error handling i python
def attemptfloat(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
    
a = attemptfloat((4,5))
a

(4, 5)

WORKING WITH FILES

In [119]:
path = "myCSV/segismundo.txt"
f = open(path, encoding="utf-8")
for line in f:
    print(line)
    
#better approach
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines
f.close

#best approach which will automatically close the file
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
lines

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [123]:
#read first 10 characters
path = "myCSV/segismundo.txt"
with open(path, encoding="utf-8") as f:
    chrs = f.read(10)
chrs, len(chrs)

#read the request number of bytes
with open(path, mode="rb") as f:
    chrs = f.read(10)
chrs, len(chrs), chrs.decode("utf-8")

(b'Sue\xc3\xb1a el ', 10, 'Sueña el ')