# SUBSTRING FUNCTIONS

In [1]:
from app.db import connectSQL
import pandas as pd
from sqlalchemy import bindparam, text, String, Date, Integer
import numpy as np

con = connectSQL() 

matchID = 20
stmt = text("EXEC [Game].[procNationalTeamsSimpleShow] @MatchHistoryId = :matchID")

stmt = stmt.bindparams(
                bindparam('matchID', value=matchID, type_=Integer)
            )

res = pd.read_sql_query(stmt, con)

#res.to_csv('myCSV/matches.csv', index=False)
res

Connecting SQL...

    NationalTeamId      NationalTeamName
0               76               ALBANIA
1               86               ARMENIA
2               44               AUSTRIA
3               78  BOSNIA & HERZEGOVINA
4               46              BULGARIA
5               47               CROATIA
6               48        CZECH REPUBLIC
7               50               ENGLAND
8               51               FINLAND
9               52                FRANCE
10              53               GERMANY
11              54                GREECE
12              57                 ITALY
13              59           NETHERLANDS
14              60      NORTHERN IRELAND
15              63              PORTUGAL
16              64               ROMANIA
17              67                SERBIA
18              69              SLOVENIA
19              70                 SPAIN
20              71                SWEDEN
21              72           SWITZERLAND
22              73                TURKEY
23              75                 WALES

In [3]:
import pandas as pd
import numpy as np
import re

df = pd.DataFrame({'col': {0: '2020-12-08', 
                           1: '2020-12-08', 
                           2: '2020-12-08', 
                           3: '2020-12-08', 
                           4: '2020-12-08', 
                           5: '2020-12-08', 
                           6: '2020-12-08', 
                           7: '2020-12-08', 
                           8: '2020-12-08', 
                           9: '2020-12-08'}})

#option 1
df['col_substring'] = df['col'].str[:4]

#option 2
df['col_substring'] = df['col'].str.slice(0, 4)

#option 3
df['col_substring'] = df['col'].apply(lambda x: x[:4])

#option 4
df['col_substring'] = df['col'].apply(lambda x: re.findall(r'^.{4}', x)[0])

#option 5
df['col_substring'] = np.vectorize(lambda x: x[:4])(df['col'])

          col col_substring
0  2020-12-08          2020
1  2020-12-08          2020
2  2020-12-08          2020
3  2020-12-08          2020
4  2020-12-08          2020
5  2020-12-08          2020
6  2020-12-08          2020
7  2020-12-08          2020
8  2020-12-08          2020
9  2020-12-08          2020

In [87]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")
x, x[0], x[-1].strip()

(('I could eat ', 'bananas', ' all day'), 'I could eat ', 'all day')

In [94]:
txt = "Mi casa, su casa."
x = txt.rindex("a")
y = txt.index("a")
x, y

(15, 4)

In [7]:
dict = {'Name':["John Smith", "Mark Wellington",
                "Rosie Bates", "Emily Edward"]}

df = pd.DataFrame.from_dict(dict)
df['LastName'] = df["Name"].str.extract(r'\b(\w+)$', expand = True)
df

              Name    LastName
0       John Smith       Smith
1  Mark Wellington  Wellington
2      Rosie Bates       Bates
3     Emily Edward      Edward

In [1]:
import pandas as pd
import re

ColumnNames = {"NationalTeamId":"countryid"}
res = pd.read_csv('FifaWC2022/NationalTeamsMappingIDs.csv')
res = res.rename(columns=ColumnNames)
res = res.set_index("countryid")
ex1 = res.copy()
ex1["NationalTeamNameLower"] = ex1['NationalTeamName'].str.lower()

#look for specific part of word and will be filtered
#res = res.loc[res['NationalTeamNameLower'].str.contains("united|usa|alban", case=False)]

#in column "epa" will be added True only
#res["epa"] = res['NationalTeamNameLower'].str.contains("united|usa|alban", case=False)

#in column sepa will be added [part required when find], and when empty []
ex1['sepa'] = ex1['NationalTeamName'].str.findall('united|usa', flags=re.IGNORECASE)
ex1

          NationalTeamName NationalTeamNameLower sepa
countryid
190            AFGHANISTAN           afghanistan   []
76                 ALBANIA               albania   []
117                ALGERIA               algeria   []
222         AMERICAN SAMOA        american samoa   []
193                ANDORRA               andorra   []
...                    ...                   ...  ...
75                   WALES                 wales   []
42                   YEMEN                 yemen   []
131                 ZAMBIA                zambia   []
209               ZANZIBAR              zanzibar   []
132               ZIMBABWE              zimbabwe   []

[224 rows x 3 columns]

In [48]:
#when not contains, it will exclude united,usa and albania
ex2 = res.copy()
ex2["NationalTeamNameLower"] = ex2['NationalTeamName'].str.lower()
ex2 = ex2.loc[~ex2['NationalTeamNameLower'].str.contains("united|usa|alban", case=False)]
ex2

          NationalTeamName NationalTeamNameLower
countryid
190            AFGHANISTAN           afghanistan
117                ALGERIA               algeria
222         AMERICAN SAMOA        american samoa
193                ANDORRA               andorra
109                 ANGOLA                angola
...                    ...                   ...
75                   WALES                 wales
42                   YEMEN                 yemen
131                 ZAMBIA                zambia
209               ZANZIBAR              zanzibar
132               ZIMBABWE              zimbabwe

[221 rows x 2 columns]

In [50]:
#replace part of string
import pandas as pd
import re

def remove_whitespace(x):    
    try:
        # Remove spaces inside of the string
        x = "".join(x.split())

    except:
        pass
    return x

ex3 = res.copy()
#in lower case the whole
ex3["NationalTeamNameClean"] = ex3['NationalTeamName'].str.lower()

#remove whitespace in the beginning and in the end (left and right)
ex3["NationalTeamNameClean"] = ex3['NationalTeamNameClean'].str.strip()

#remove only white space everywhere in the column
ex3["NationalTeamNameClean"] = ex3["NationalTeamNameClean"].apply(remove_whitespace)

# Replace single substring by adding new column
#ex3["replaced"] = ex3["NationalTeamNameClean"].replace('usa','unitedstates', regex=True)

# Replace single substring in the same column
ex3["NationalTeamNameClean"] = ex3["NationalTeamNameClean"].replace('usa','unitedstates', regex=True)
ex3.tail(20)

                   NationalTeamName  NationalTeamNameClean
countryid
94                TRINIDAD & TOBAGO        trinidad&tobago
116                         TUNISIA                tunisia
73                           TURKEY                 turkey
35                     TURKMENISTAN           turkmenistan
219        TURKS AND CAICOS ISLANDS  turksandcaicosislands
130                          UGANDA                 uganda
74                          UKRAINE                ukraine
29             UNITED ARAB EMIRATES     unitedarabemirates
8                           URUGUAY                uruguay
221               US VIRGIN ISLANDS        usvirginislands
95                              USA           unitedstates
30                       UZBEKISTAN             uzbekistan
15                          VANUATU                vanuatu
10                        VENEZUELA              venezuela
38                          VIETNAM                vietnam
75                            WALES                  wales
42                            YEMEN                  yemen
131                          ZAMBIA                 zambia
209                        ZANZIBAR               zanzibar
132                        ZIMBABWE               zimbabwe

In [61]:
# Replace multiple substrings
ex4 = res.copy()
ex4["NationalTeamNameClean"] = ex4['NationalTeamName'].str.lower()
ex4["NationalTeamNameClean"] = ex4['NationalTeamNameClean'].str.strip()

#remove all whitespaces, special characters that are not numbers or letters
ex4["NationalTeamNameClean"] = ex4["NationalTeamNameClean"].str.replace('&', 'and', regex=True)
ex4["NationalTeamNameClean"] = ex4["NationalTeamNameClean"].str.replace('\W', '', regex=True)
ex4.iloc[40:60]

             NationalTeamName NationalTeamNameClean
countryid
195                      CHAD                  chad
3                       CHILE                 chile
22                      CHINA                 china
157            CHINESE TAIPEI         chinesetaipei
4                    COLOMBIA              colombia
199                   COMOROS               comoros
120                     CONGO                 congo
155              COOK ISLANDS           cookislands
92                 COSTA RICA             costarica
111             COTE D’IVOIRE           cotedivoire
47                    CROATIA               croatia
97                       CUBA                  cuba
177                   CURACAO               curacao
79                     CYPRUS                cyprus
48             CZECH REPUBLIC         czechrepublic
49                    DENMARK               denmark
203                  DJIBOUTI              djibouti
170                  DOMINICA              dominica
171        DOMINICAN REPUBLIC     dominicanrepublic
121                  DR CONGO               drcongo

In [2]:
replacingstrs = { 
    'usa': 'unitedstates',
    'czechrepublic':'czechia',
    'bruneidarussalam':'brunei',
    'ç':'c',
    'cotedivoire':'ivorycoast',
    'koreadpr':'northkorea',
    
                }
ex5 = res.copy()
ex5["NationalTeamNameClean"] = ex5['NationalTeamName'].str.lower()
ex5["NationalTeamNameClean"] = ex5['NationalTeamNameClean'].str.strip()
ex5["NationalTeamNameClean"] = ex5["NationalTeamNameClean"].str.replace("&","and", regex=True)
#ex5["NationalTeamNameCleanFind"] = ex5["NationalTeamNameClean"].str.startswith("st", na = False)
#ex5["NationalTeamNameCleanA"] = ex5["NationalTeamNameClean"][(ex5["NationalTeamNameCleanFind"] == True)].str.replace("st","saint", regex=True)
ex5["NationalTeamNameClean"] = ex5["NationalTeamNameClean"].str.replace('^st','saint ',regex=True)
ex5["NationalTeamNameCleanAll"] = ex5["NationalTeamNameClean"].str.replace('\W', '', regex=True)
ex5["NationalTeamNameCleanAll"] = ex5["NationalTeamNameCleanAll"].replace(replacingstrs, regex=True)
ex5

          NationalTeamName NationalTeamNameClean NationalTeamNameCleanAll
countryid
190            AFGHANISTAN           afghanistan              afghanistan
76                 ALBANIA               albania                  albania
117                ALGERIA               algeria                  algeria
222         AMERICAN SAMOA        american samoa            americansamoa
193                ANDORRA               andorra                  andorra
...                    ...                   ...                      ...
75                   WALES                 wales                    wales
42                   YEMEN                 yemen                    yemen
131                 ZAMBIA                zambia                   zambia
209               ZANZIBAR              zanzibar                 zanzibar
132               ZIMBABWE              zimbabwe                 zimbabwe

[224 rows x 3 columns]

In [3]:
import os, pathlib, shutil, random
import pandas as pd

ex5 = pd.DataFrame(ex5)

countriesdictmap1 = dict(zip(ex5["NationalTeamNameCleanAll"], ex5.index))
countriesdictmap1

{'afghanistan': 190,
 'albania': 76,
 'algeria': 117,
 'americansamoa': 222,
 'andorra': 193,
 'angola': 109,
 'anguilla': 210,
 'antiguaandbarbuda': 108,
 'argentina': 1,
 'armenia': 86,
 'aruba': 175,
 'australia': 21,
 'austria': 44,
 'azerbaijan': 88,
 'bahamas': 172,
 'bahrain': 23,
 'bangladesh': 161,
 'barbados': 105,
 'belarus': 77,
 'belgium': 45,
 'belize': 174,
 'benin': 135,
 'bermuda': 106,
 'bhutan': 187,
 'bolivia': 9,
 'bonaire': 211,
 'bosniaandherzegovina': 78,
 'botswana': 137,
 'brazil': 2,
 'britishvirginislands': 220,
 'brunei': 191,
 'bulgaria': 46,
 'burkinafaso': 118,
 'burundi': 143,
 'cambodia': 164,
 'cameroon': 110,
 'canada': 96,
 'capeverde': 119,
 'caymanislands': 178,
 'centralafricanrepublic': 197,
 'chad': 195,
 'chile': 3,
 'china': 22,
 'chinesetaipei': 157,
 'colombia': 4,
 'comoros': 199,
 'congo': 120,
 'cookislands': 155,
 'costarica': 92,
 'ivorycoast': 111,
 'croatia': 47,
 'cuba': 97,
 'curacao': 177,
 'cyprus': 79,
 'czechia': 48,
 'denmark': 49,
 'djibouti': 203,
 'dominica': 170,
 'dominicanrepublic': 171,
 'drcongo': 121,
 'ecuador': 5,
 'egypt': 122,
 'elsalvador': 107,
 'england': 50,
 'equatorialguinea': 133,
 'eritrea': 201,
 'estonia': 90,
 'eswatini': 150,
 'ethiopia': 140,
 'faroeislands': 167,
 'fiji': 14,
 'finland': 51,
 'france': 52,
 'frenchguiana': 212,
 'fsmicronesia': 215,
 'gabon': 124,
 'gambia': 141,
 'georgia': 80,
 'germany': 53,
 'ghana': 112,
 'gibraltar': 204,
 'greece': 54,
 'grenada': 173,
 'guadeloupe': 213,
 'guam': 223,
 'guatemala': 98,
 'guinea': 125,
 'guineabissau': 181,
 'guyana': 99,
 'haiti': 100,
 'honduras': 101,
 'hongkong': 31,
 'hungary': 55,
 'iceland': 81,
 'india': 43,
 'indonesia': 39,
 'iran': 17,
 'iraq': 24,
 'israel': 82,
 'italy': 57,
 'jamaica': 102,
 'japan': 18,
 'jordan': 25,
 'kazakhstan': 87,
 'kenya': 136,
 'northkorea': 34,
 'kosovo': 194,
 'kuwait': 26,
 'kyrgyzstan': 40,
 'laos': 186,
 'latvia': 58,
 'lebanon': 37,
 'lesotho': 200,
 'liberia': 149,
 'libya': 126,
 'liechtenstein': 89,
 'lithuania': 83,
 'luxembourg': 152,
 'macau': 160,
 'madagascar': 182,
 'malawi': 146,
 'malaysia': 151,
 'maldives': 162,
 'mali': 127,
 'malta': 91,
 'martinique': 214,
 'mauritania': 147,
 'mauritius': 183,
 'mayotte': 205,
 'mexico': 93,
 'moldova': 85,
 'mongolia': 189,
 'montenegro': 184,
 'montserrat': 216,
 'morocco': 128,
 'mozambique': 134,
 'myanmar': 188,
 'namibia': 142,
 'nepal': 158,
 'netherlands': 59,
 'newcaledonia': 12,
 'newzealand': 11,
 'nicaragua': 176,
 'niger': 196,
 'nigeria': 113,
 'northmacedonia': 84,
 'northernireland': 60,
 'northernmarianaislands': 224,
 'norway': 61,
 'oman': 27,
 'pakistan': 165,
 'palau': 225,
 'palestine': 185,
 'panama': 103,
 'papuanewguinea': 156,
 'paraguay': 6,
 'peru': 7,
 'philippines': 159,
 'poland': 62,
 'portugal': 63,
 'puertorico': 168,
 'qatar': 28,
 'republicofireland': 56,
 'reunion': 206,
 'romania': 64,
 'russia': 65,
 'rwanda': 144,
 'saintmartin': 217,
 'samoa': 16,
 'sanmarino': 166,
 'saotomeandprincipe': 207,
 'saudiarabia': 19,
 'scotland': 66,
 'senegal': 129,
 'serbia': 67,
 'seychelles': 198,
 'sierraleone': 123,
 'singapore': 36,
 'sintmaarten': 218,
 'slovakia': 68,
 'slovenia': 69,
 'solomonislands': 13,
 'somalia': 202,
 'southafrica': 114,
 'southkorea': 20,
 'southsudan': 208,
 'spain': 70,
 'srilanka': 163,
 'saintkittsandnevis': 169,
 'saintlucia': 180,
 'saintvincentandthegrenadines': 104,
 'sudan': 139,
 'suriname': 179,
 'sweden': 71,
 'switzerland': 72,
 'syria': 32,
 'tahiti': 154,
 'tajikistan': 41,
 'tanzania': 138,
 'thailand': 33,
 'tibet': 226,
 'timorleste': 192,
 'togo': 115,
 'tonga': 153,
 'trinidadandtobago': 94,
 'tunisia': 116,
 'turkey': 73,
 'turkmenistan': 35,
 'turksandcaicosislands': 219,
 'uganda': 130,
 'ukraine': 74,
 'unitedarabemirates': 29,
 'uruguay': 8,
 'usvirginislands': 221,
 'unitedstates': 95,
 'uzbekistan': 30,
 'vanuatu': 15,
 'venezuela': 10,
 'vietnam': 38,
 'wales': 75,
 'yemen': 42,
 'zambia': 131,
 'zanzibar': 209,
 'zimbabwe': 132}

In [4]:
import pandas as pd
import numpy as np
from app.functions import getAllFIFACodes

fromBase = ex5.copy()
url = "https://en.wikipedia.org/wiki/List_of_FIFA_country_codes"
cmaps = countriesdictmap1
clasn = "wikitable"
start = 0
end = 5
replacingstrs = {'&': 'and', 
                 'usa': 'united states',
                'czech republic':'czechia',                 
                 'ç':'c',
                 'ã':'a',
                 'é':'e',
                 'í':'i',                 
                }

codescount = {
    'fs micronesia':'FSM',
    'mayotte':'MYT',
    'palau':'PLW',
    'tibet':'TIB'    
}

cd = dict(codescount)

completeNoFlags = getAllFIFACodes(url, cmaps, clasn, start, end, replacingstrs)
completeNoFlags = completeNoFlags[(completeNoFlags.index != 0)]
completeNoFlags1 = fromBase.join(completeNoFlags, on='countryid', how='left')
completeNoFlags1["teamName"] = completeNoFlags1["teamName"].fillna(completeNoFlags1["NationalTeamNameClean"])
completeNoFlags1["countryCode"] = completeNoFlags1["countryCode"].fillna(completeNoFlags1["NationalTeamNameClean"].map(cd))
completeNoFlags1["teamName"] = completeNoFlags1["teamName"].str.title()
completeNoFlags1[completeNoFlags1["teamNameClean"].isna()]

,NationalTeamName,NationalTeamNameClean,NationalTeamNameCleanAll,teamName,countryCode,teamNameClean,teamNameCleanAll
countryid,,,,,,,
215,FS MICRONESIA,fs micronesia,fsmicronesia,Fs Micronesia,FSM,NaN,NaN
205,MAYOTTE,mayotte,mayotte,Mayotte,MYT,NaN,NaN
225,PALAU,palau,palau,Palau,PLW,NaN,NaN
226,TIBET,tibet,tibet,Tibet,TIB,NaN,NaN

In [5]:
import pandas as pd
import numpy as np
from app.functions import getAllCountriesFlags

#this csv file is retrieved from stored procedure footballDetails database
natTeams = ex5.copy()

ni = countriesdictmap1
replacingFlags = {'&': 'and',
                  'unitedstatesofamerica': 'unitedstates',
                  'czechrepublic':'czechia',
                  'ç':'c',
                  'ã':'a',
                  'é':'e',
                  'í':'i',
                  'caboverde':'capeverde',
                  'taiwan':'chinesetaipei',
                  'congodemocraticrepublicofthe':'drcongo',
                  'cotedivoire':'ivorycoast',
                  'ireland':'republicofireland',
                  'congorepublicofthe':'congo',
                  'micronesia':'fsmicronesia'
                }
cols = ["Country","NationalTeamName","NationalTeamNameClean","NationalTeamNameCleanAll","FlagPath","FlagPathWeb"]
countryflags = getAllCountriesFlags("https://www.countries-ofthe-world.com/flags-of-the-world.html",ni,replacingFlags,'all')
countryflags.loc[0]

ShowFinalAll = natTeams.join(countryflags, on="countryid", how="left")
#ShowFinalAll = natTeams.merge(countryflags, on='countryid', how='left')
ShowFinalAll = ShowFinalAll[cols]

#ShowFinalAll.to_csv('FifaWC2022/NationalTeamsFullLinks.csv')
ShowFinalAll

,Country,NationalTeamName,NationalTeamNameClean,NationalTeamNameCleanAll,FlagPath,FlagPathWeb
countryid,,,,,,
190,afghanistan,AFGHANISTAN,afghanistan,afghanistan,flags-normal/flag-of-Afghanistan.png,https://www.countries-ofthe-world.com/flags-no...
76,albania,ALBANIA,albania,albania,flags-normal/flag-of-Albania.png,https://www.countries-ofthe-world.com/flags-no...
117,algeria,ALGERIA,algeria,algeria,flags-normal/flag-of-Algeria.png,https://www.countries-ofthe-world.com/flags-no...
222,NaN,AMERICAN SAMOA,american samoa,americansamoa,NaN,NaN
193,andorra,ANDORRA,andorra,andorra,flags-normal/flag-of-Andorra.png,https://www.countries-ofthe-world.com/flags-no...
...,...,...,...,...,...,...
75,NaN,WALES,wales,wales,NaN,NaN
42,yemen,YEMEN,yemen,yemen,flags-normal/flag-of-Yemen.png,https://www.countries-ofthe-world.com/flags-no...
131,zambia,ZAMBIA,zambia,zambia,flags-normal/flag-of-Zambia.png,https://www.countries-ofthe-world.com/flags-no...
209,NaN,ZANZIBAR,zanzibar,zanzibar,NaN,NaN
132,zimbabwe,ZIMBABWE,zimbabwe,zimbabwe,flags-normal/flag-of-Zimbabwe.png,https://www.countries-ofthe-world.com/flags-no...

In [6]:
import os, pathlib, shutil, random

directory = os.getcwd()  
base_dir = pathlib.Path(directory)
base_dir = base_dir / "flags-normal"

files = os.listdir(base_dir)
filespandas = pd.DataFrame(files)  
filespandas.columns = ["filename"]
filespandas["countrynameextract"] = filespandas["filename"].apply(lambda x: "{}".format(x.replace(r'flag-of-', '')))
filespandas["countrynameextract"] = filespandas["countrynameextract"].str.split(".", n = 1, expand = True)[0]

filespandas["countrynameextract"] = filespandas["countrynameextract"].str.replace('\W', '', regex=True) 
filespandas["countrynameextract"] = filespandas["countrynameextract"].str.lower()

getteamsfilenames = ShowFinalAll.copy()
getteamsfilenames["filename"] = getteamsfilenames["FlagPath"].str.split("/", n = 1, expand = True)[1]
mappingdict = countriesdictmap1

filespandas["countryid"] = filespandas['countrynameextract'].map(mappingdict)
filespandas["countryid"] = filespandas["countryid"].fillna(-1)
filespandas["countryid"] = filespandas["countryid"].astype('int')
filespandas = filespandas.set_index("countryid")
totfinalWithFlags = getteamsfilenames.merge(filespandas, on='countryid', how='left')

totfinalWithFlags["FlagPath"] = totfinalWithFlags["FlagPath"].fillna(totfinalWithFlags["filename_y"].apply(lambda x: "{}{}".format('flags-normal/', x)))
totfinalWithFlags["filename_x"] = totfinalWithFlags["filename_x"].fillna(totfinalWithFlags["filename_y"])
cols = ["NationalTeamName","NationalTeamNameClean","NationalTeamNameCleanAll","FlagPath","FlagPathWeb","filename_x"]
#totfinal.to_csv('FifaWC2022/filenametestcountryids.csv')
totfinalWithFlags = totfinalWithFlags[cols]
#totfinalWithFlags = totfinalWithFlags[(totfinalWithFlags["filename_x"].isna())]
totfinalWithFlags

,NationalTeamName,NationalTeamNameClean,NationalTeamNameCleanAll,FlagPath,FlagPathWeb,filename_x
countryid,,,,,,
190,AFGHANISTAN,afghanistan,afghanistan,flags-normal/flag-of-Afghanistan.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Afghanistan.png
76,ALBANIA,albania,albania,flags-normal/flag-of-Albania.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Albania.png
117,ALGERIA,algeria,algeria,flags-normal/flag-of-Algeria.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Algeria.png
222,AMERICAN SAMOA,american samoa,americansamoa,flags-normal/flag-of-American-Samoa.png,NaN,flag-of-American-Samoa.png
193,ANDORRA,andorra,andorra,flags-normal/flag-of-Andorra.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Andorra.png
...,...,...,...,...,...,...
75,WALES,wales,wales,flags-normal/flag-of-Wales.png,NaN,flag-of-Wales.png
42,YEMEN,yemen,yemen,flags-normal/flag-of-Yemen.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Yemen.png
131,ZAMBIA,zambia,zambia,flags-normal/flag-of-Zambia.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Zambia.png
209,ZANZIBAR,zanzibar,zanzibar,flags-normal/flag-of-Zanzibar.png,NaN,flag-of-Zanzibar.png
132,ZIMBABWE,zimbabwe,zimbabwe,flags-normal/flag-of-Zimbabwe.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Zimbabwe.png

In [7]:
complete = completeNoFlags1.merge(totfinalWithFlags, on='countryid', how='left')
cols = ["teamName","countryCode","teamNameClean","teamNameCleanAll","FlagPath","FlagPathWeb","filename_x"]
complete = complete[cols]
complete.to_csv('FifaWC2022/NationalTeamsAllCodesFlags.csv', index=True)
complete

,teamName,countryCode,teamNameClean,teamNameCleanAll,FlagPath,FlagPathWeb,filename_x
countryid,,,,,,,
190,Afghanistan,AFG,afghanistan,afghanistan,flags-normal/flag-of-Afghanistan.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Afghanistan.png
76,Albania,ALB,albania,albania,flags-normal/flag-of-Albania.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Albania.png
117,Algeria,ALG,algeria,algeria,flags-normal/flag-of-Algeria.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Algeria.png
222,American Samoa,ASA,american samoa,americansamoa,flags-normal/flag-of-American-Samoa.png,NaN,flag-of-American-Samoa.png
193,Andorra,AND,andorra,andorra,flags-normal/flag-of-Andorra.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Andorra.png
...,...,...,...,...,...,...,...
75,Wales,WAL,wales,wales,flags-normal/flag-of-Wales.png,NaN,flag-of-Wales.png
42,Yemen,YEM,yemen,yemen,flags-normal/flag-of-Yemen.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Yemen.png
131,Zambia,ZAM,zambia,zambia,flags-normal/flag-of-Zambia.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Zambia.png
209,Zanzibar,ZAN,zanzibar,zanzibar,flags-normal/flag-of-Zanzibar.png,NaN,flag-of-Zanzibar.png
132,Zimbabwe,ZIM,zimbabwe,zimbabwe,flags-normal/flag-of-Zimbabwe.png,https://www.countries-ofthe-world.com/flags-no...,flag-of-Zimbabwe.png

In [9]:
totfinalWithFlags.index.value_counts() 
#cnts = pd.DataFrame(cnts)
#cnts.head(50)

190    1
76     1
176    1
196    1
113    1
      ..
53     1
112    1
204    1
54     1
132    1
Name: countryid, Length: 224, dtype: int64

In [8]:
import pandas as pd

complete = pd.read_csv('FifaWC2022/NationalTeamsAllCodesFlags.csv')
#a = complete.reset_index(drop=False)
complete["FlagPathWeb"] = complete["FlagPathWeb"].fillna(value='None')
#complete = complete[(complete["FlagPathWeb"].isna())]
#tab1 = tab1[(tab1["countryCode"].isna())]
complete.values.tolist()
#aclean = complete.values.tolist()
#aclean = aclean[""]

[[190,
  'Afghanistan',
  'AFG',
  'afghanistan',
  'afghanistan',
  'flags-normal/flag-of-Afghanistan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Afghanistan.png',
  'flag-of-Afghanistan.png'],
 [76,
  'Albania',
  'ALB',
  'albania',
  'albania',
  'flags-normal/flag-of-Albania.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Albania.png',
  'flag-of-Albania.png'],
 [117,
  'Algeria',
  'ALG',
  'algeria',
  'algeria',
  'flags-normal/flag-of-Algeria.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Algeria.png',
  'flag-of-Algeria.png'],
 [222,
  'American Samoa',
  'ASA',
  'american samoa',
  'americansamoa',
  'flags-normal/flag-of-American-Samoa.png',
  'None',
  'flag-of-American-Samoa.png'],
 [193,
  'Andorra',
  'AND',
  'andorra',
  'andorra',
  'flags-normal/flag-of-Andorra.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Andorra.png',
  'flag-of-Andorra.png'],
 [109,
  'Angola',
  'ANG',
  'angola',
  'angola',
  'flags-normal/flag-of-Angola.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Angola.png',
  'flag-of-Angola.png'],
 [210,
  'Anguilla',
  'AIA',
  'anguilla',
  'anguilla',
  'flags-normal/flag-of-Anguilla.png',
  'None',
  'flag-of-Anguilla.png'],
 [108,
  'Antigua And Barbuda',
  'ATG',
  'antigua and barbuda',
  'antiguaandbarbuda',
  'flags-normal/flag-of-Antigua.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Antigua.png',
  'flag-of-Antigua.png'],
 [1,
  'Argentina',
  'ARG',
  'argentina',
  'argentina',
  'flags-normal/flag-of-Argentina.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Argentina.png',
  'flag-of-Argentina.png'],
 [86,
  'Armenia',
  'ARM',
  'armenia',
  'armenia',
  'flags-normal/flag-of-Armenia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Armenia.png',
  'flag-of-Armenia.png'],
 [175,
  'Aruba',
  'ARU',
  'aruba',
  'aruba',
  'flags-normal/flag-of-Aruba.png',
  'None',
  'flag-of-Aruba.png'],
 [21,
  'Australia',
  'AUS',
  'australia',
  'australia',
  'flags-normal/flag-of-Australia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Australia.png',
  'flag-of-Australia.png'],
 [44,
  'Austria',
  'AUT',
  'austria',
  'austria',
  'flags-normal/flag-of-Austria.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Austria.png',
  'flag-of-Austria.png'],
 [88,
  'Azerbaijan',
  'AZE',
  'azerbaijan',
  'azerbaijan',
  'flags-normal/flag-of-Azerbaijan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Azerbaijan.png',
  'flag-of-Azerbaijan.png'],
 [172,
  'Bahamas',
  'BAH',
  'bahamas',
  'bahamas',
  'flags-normal/flag-of-Bahamas.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bahamas.png',
  'flag-of-Bahamas.png'],
 [23,
  'Bahrain',
  'BHR',
  'bahrain',
  'bahrain',
  'flags-normal/flag-of-Bahrain.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bahrain.png',
  'flag-of-Bahrain.png'],
 [161,
  'Bangladesh',
  'BAN',
  'bangladesh',
  'bangladesh',
  'flags-normal/flag-of-Bangladesh.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bangladesh.png',
  'flag-of-Bangladesh.png'],
 [105,
  'Barbados',
  'BRB',
  'barbados',
  'barbados',
  'flags-normal/flag-of-Barbados.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Barbados.png',
  'flag-of-Barbados.png'],
 [77,
  'Belarus',
  'BLR',
  'belarus',
  'belarus',
  'flags-normal/flag-of-Belarus.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Belarus.png',
  'flag-of-Belarus.png'],
 [45,
  'Belgium',
  'BEL',
  'belgium',
  'belgium',
  'flags-normal/flag-of-Belgium.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Belgium.png',
  'flag-of-Belgium.png'],
 [174,
  'Belize',
  'BLZ',
  'belize',
  'belize',
  'flags-normal/flag-of-Belize.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Belize.png',
  'flag-of-Belize.png'],
 [135,
  'Benin',
  'BEN',
  'benin',
  'benin',
  'flags-normal/flag-of-Benin.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Benin.png',
  'flag-of-Benin.png'],
 [106,
  'Bermuda',
  'BER',
  'bermuda',
  'bermuda',
  'flags-normal/flag-of-Bermuda.png',
  'None',
  'flag-of-Bermuda.png'],
 [187,
  'Bhutan',
  'BHU',
  'bhutan',
  'bhutan',
  'flags-normal/flag-of-Bhutan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bhutan.png',
  'flag-of-Bhutan.png'],
 [9,
  'Bolivia',
  'BOL',
  'bolivia',
  'bolivia',
  'flags-normal/flag-of-Bolivia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bolivia.png',
  'flag-of-Bolivia.png'],
 [211,
  'Bonaire',
  'BES',
  'bonaire',
  'bonaire',
  'flags-normal/flag-of-Bonaire.png',
  'None',
  'flag-of-Bonaire.png'],
 [78,
  'Bosnia And Herzegovina',
  'BIH',
  'bosnia and herzegovina',
  'bosniaandherzegovina',
  'flags-normal/flag-of-Bosnia-Herzegovina.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bosnia-Herzegovina.png',
  'flag-of-Bosnia-Herzegovina.png'],
 [137,
  'Botswana',
  'BOT',
  'botswana',
  'botswana',
  'flags-normal/flag-of-Botswana.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Botswana.png',
  'flag-of-Botswana.png'],
 [2,
  'Brazil',
  'BRA',
  'brazil',
  'brazil',
  'flags-normal/flag-of-Brazil.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png',
  'flag-of-Brazil.png'],
 [220,
  'British Virgin Islands',
  'VGB',
  'british virgin islands',
  'britishvirginislands',
  'flags-normal/flag-of-British-Virgin-Islands.png',
  'None',
  'flag-of-British-Virgin-Islands.png'],
 [191,
  'Brunei',
  'BRU',
  'brunei',
  'brunei',
  'flags-normal/flag-of-Brunei.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Brunei.png',
  'flag-of-Brunei.png'],
 [46,
  'Bulgaria',
  'BUL',
  'bulgaria',
  'bulgaria',
  'flags-normal/flag-of-Bulgaria.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Bulgaria.png',
  'flag-of-Bulgaria.png'],
 [118,
  'Burkina Faso',
  'BFA',
  'burkina faso',
  'burkinafaso',
  'flags-normal/flag-of-Burkina-Faso.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Burkina-Faso.png',
  'flag-of-Burkina-Faso.png'],
 [143,
  'Burundi',
  'BDI',
  'burundi',
  'burundi',
  'flags-normal/flag-of-Burundi.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Burundi.png',
  'flag-of-Burundi.png'],
 [164,
  'Cambodia',
  'CAM',
  'cambodia',
  'cambodia',
  'flags-normal/flag-of-Cambodia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cambodia.png',
  'flag-of-Cambodia.png'],
 [110,
  'Cameroon',
  'CMR',
  'cameroon',
  'cameroon',
  'flags-normal/flag-of-Cameroon.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cameroon.png',
  'flag-of-Cameroon.png'],
 [96,
  'Canada',
  'CAN',
  'canada',
  'canada',
  'flags-normal/flag-of-Canada.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Canada.png',
  'flag-of-Canada.png'],
 [119,
  'Cape Verde',
  'CPV',
  'cape verde',
  'capeverde',
  'flags-normal/flag-of-Cabo-Verde.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cabo-Verde.png',
  'flag-of-Cabo-Verde.png'],
 [178,
  'Cayman Islands',
  'CAY',
  'cayman islands',
  'caymanislands',
  'flags-normal/flag-of-Cayman-Islands.png',
  'None',
  'flag-of-Cayman-Islands.png'],
 [197,
  'Central African Republic',
  'CTA',
  'central african republic',
  'centralafricanrepublic',
  'flags-normal/flag-of-Central-African-Republic.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Central-African-Republic.png',
  'flag-of-Central-African-Republic.png'],
 [195,
  'Chad',
  'CHA',
  'chad',
  'chad',
  'flags-normal/flag-of-Chad.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Chad.png',
  'flag-of-Chad.png'],
 [3,
  'Chile',
  'CHI',
  'chile',
  'chile',
  'flags-normal/flag-of-Chile.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Chile.png',
  'flag-of-Chile.png'],
 [22,
  'China',
  'CHN',
  'china',
  'china',
  'flags-normal/flag-of-China.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-China.png',
  'flag-of-China.png'],
 [157,
  'Chinese Taipei',
  'TPE',
  'chinese taipei',
  'chinesetaipei',
  'flags-normal/flag-of-Taiwan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Taiwan.png',
  'flag-of-Taiwan.png'],
 [4,
  'Colombia',
  'COL',
  'colombia',
  'colombia',
  'flags-normal/flag-of-Colombia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Colombia.png',
  'flag-of-Colombia.png'],
 [199,
  'Comoros',
  'COM',
  'comoros',
  'comoros',
  'flags-normal/flag-of-Comoros.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Comoros.png',
  'flag-of-Comoros.png'],
 [120,
  'Congo',
  'CGO',
  'congo',
  'congo',
  'flags-normal/flag-of-Congo.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Congo.png',
  'flag-of-Congo.png'],
 [155,
  'Cook Islands',
  'COK',
  'cook islands',
  'cookislands',
  'flags-normal/flag-of-Cook-Islands.png',
  'None',
  'flag-of-Cook-Islands.png'],
 [92,
  'Costa Rica',
  'CRC',
  'costa rica',
  'costarica',
  'flags-normal/flag-of-Costa-Rica.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Costa-Rica.png',
  'flag-of-Costa-Rica.png'],
 [111,
  'Ivory Coast',
  'CIV',
  'ivory coast',
  'ivorycoast',
  'flags-normal/flag-of-Cote-d-Ivoire.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cote-d-Ivoire.png',
  'flag-of-Cote-d-Ivoire.png'],
 [47,
  'Croatia',
  'CRO',
  'croatia',
  'croatia',
  'flags-normal/flag-of-Croatia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Croatia.png',
  'flag-of-Croatia.png'],
 [97,
  'Cuba',
  'CUB',
  'cuba',
  'cuba',
  'flags-normal/flag-of-Cuba.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cuba.png',
  'flag-of-Cuba.png'],
 [177,
  'Curaçao',
  'CUW',
  'curacao',
  'curacao',
  'flags-normal/flag-of-Curacao.png',
  'None',
  'flag-of-Curacao.png'],
 [79,
  'Cyprus',
  'CYP',
  'cyprus',
  'cyprus',
  'flags-normal/flag-of-Cyprus.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Cyprus.png',
  'flag-of-Cyprus.png'],
 [48,
  'Czech Republic',
  'CZE',
  'czechia',
  'czechia',
  'flags-normal/flag-of-Czech-Republic.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Czech-Republic.png',
  'flag-of-Czech-Republic.png'],
 [49,
  'Denmark',
  'DEN',
  'denmark',
  'denmark',
  'flags-normal/flag-of-Denmark.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Denmark.png',
  'flag-of-Denmark.png'],
 [203,
  'Djibouti',
  'DJI',
  'djibouti',
  'djibouti',
  'flags-normal/flag-of-Djibouti.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Djibouti.png',
  'flag-of-Djibouti.png'],
 [170,
  'Dominica',
  'DMA',
  'dominica',
  'dominica',
  'flags-normal/flag-of-Dominica.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Dominica.png',
  'flag-of-Dominica.png'],
 [171,
  'Dominican Republic',
  'DOM',
  'dominican republic',
  'dominicanrepublic',
  'flags-normal/flag-of-Dominican-Republic.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Dominican-Republic.png',
  'flag-of-Dominican-Republic.png'],
 [121,
  'Dr Congo',
  'COD',
  'dr congo',
  'drcongo',
  'flags-normal/flag-of-Congo-Democratic-Republic-of.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Congo-Democratic-Republic-of.png',
  'flag-of-Congo-Democratic-Republic-of.png'],
 [5,
  'Ecuador',
  'ECU',
  'ecuador',
  'ecuador',
  'flags-normal/flag-of-Ecuador.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Ecuador.png',
  'flag-of-Ecuador.png'],
 [122,
  'Egypt',
  'EGY',
  'egypt',
  'egypt',
  'flags-normal/flag-of-Egypt.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Egypt.png',
  'flag-of-Egypt.png'],
 [107,
  'El Salvador',
  'SLV',
  'el salvador',
  'elsalvador',
  'flags-normal/flag-of-El-Salvador.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-El-Salvador.png',
  'flag-of-El-Salvador.png'],
 [50,
  'England',
  'ENG',
  'england',
  'england',
  'flags-normal/flag-of-England.png',
  'None',
  'flag-of-England.png'],
 [133,
  'Equatorial Guinea',
  'EQG',
  'equatorial guinea',
  'equatorialguinea',
  'flags-normal/flag-of-Equatorial-Guinea.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Equatorial-Guinea.png',
  'flag-of-Equatorial-Guinea.png'],
 [201,
  'Eritrea',
  'ERI',
  'eritrea',
  'eritrea',
  'flags-normal/flag-of-Eritrea.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Eritrea.png',
  'flag-of-Eritrea.png'],
 [90,
  'Estonia',
  'EST',
  'estonia',
  'estonia',
  'flags-normal/flag-of-Estonia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Estonia.png',
  'flag-of-Estonia.png'],
 [150,
  'Eswatini',
  'SWZ',
  'eswatini',
  'eswatini',
  'flags-normal/flag-of-Eswatini.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Eswatini.png',
  'flag-of-Eswatini.png'],
 [140,
  'Ethiopia',
  'ETH',
  'ethiopia',
  'ethiopia',
  'flags-normal/flag-of-Ethiopia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Ethiopia.png',
  'flag-of-Ethiopia.png'],
 [167,
  'Faroe Islands',
  'FRO',
  'faroe islands',
  'faroeislands',
  'flags-normal/flag-of-Faroe-Islands.png',
  'None',
  'flag-of-Faroe-Islands.png'],
 [14,
  'Fiji',
  'FIJ',
  'fiji',
  'fiji',
  'flags-normal/flag-of-Fiji.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Fiji.png',
  'flag-of-Fiji.png'],
 [51,
  'Finland',
  'FIN',
  'finland',
  'finland',
  'flags-normal/flag-of-Finland.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Finland.png',
  'flag-of-Finland.png'],
 [52,
  'France',
  'FRA',
  'france',
  'france',
  'flags-normal/flag-of-France.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-France.png',
  'flag-of-France.png'],
 [212,
  'French Guiana',
  'GUF',
  'french guiana',
  'frenchguiana',
  'flags-normal/flag-of-French-Guiana.png',
  'None',
  'flag-of-French-Guiana.png'],
 [215,
  'Fs Micronesia',
  'FSM',
  nan,
  nan,
  'flags-normal/flag-of-Micronesia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Micronesia.png',
  'flag-of-Micronesia.png'],
 [124,
  'Gabon',
  'GAB',
  'gabon',
  'gabon',
  'flags-normal/flag-of-Gabon.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Gabon.png',
  'flag-of-Gabon.png'],
 [141,
  'Gambia',
  'GAM',
  'gambia',
  'gambia',
  'flags-normal/flag-of-Gambia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Gambia.png',
  'flag-of-Gambia.png'],
 [80,
  'Georgia',
  'GEO',
  'georgia',
  'georgia',
  'flags-normal/flag-of-Georgia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Georgia.png',
  'flag-of-Georgia.png'],
 [53,
  'Germany',
  'GER',
  'germany',
  'germany',
  'flags-normal/flag-of-Germany.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Germany.png',
  'flag-of-Germany.png'],
 [112,
  'Ghana',
  'GHA',
  'ghana',
  'ghana',
  'flags-normal/flag-of-Ghana.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Ghana.png',
  'flag-of-Ghana.png'],
 [204,
  'Gibraltar',
  'GIB',
  'gibraltar',
  'gibraltar',
  'flags-normal/flag-of-Gibraltar.png',
  'None',
  'flag-of-Gibraltar.png'],
 [54,
  'Greece',
  'GRE',
  'greece',
  'greece',
  'flags-normal/flag-of-Greece.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Greece.png',
  'flag-of-Greece.png'],
 [173,
  'Grenada',
  'GRN',
  'grenada',
  'grenada',
  'flags-normal/flag-of-Grenada.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Grenada.png',
  'flag-of-Grenada.png'],
 [213,
  'Guadeloupe',
  'GLP',
  'guadeloupe',
  'guadeloupe',
  'flags-normal/flag-of-Guadeloupe.png',
  'None',
  'flag-of-Guadeloupe.png'],
 [223,
  'Guam',
  'GUM',
  'guam',
  'guam',
  'flags-normal/flag-of-Guam.png',
  'None',
  'flag-of-Guam.png'],
 [98,
  'Guatemala',
  'GUA',
  'guatemala',
  'guatemala',
  'flags-normal/flag-of-Guatemala.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Guatemala.png',
  'flag-of-Guatemala.png'],
 [125,
  'Guinea',
  'GUI',
  'guinea',
  'guinea',
  'flags-normal/flag-of-Guinea.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Guinea.png',
  'flag-of-Guinea.png'],
 [181,
  'Guinea-Bissau',
  'GNB',
  'guinea-bissau',
  'guineabissau',
  'flags-normal/flag-of-Guinea-Bissau.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Guinea-Bissau.png',
  'flag-of-Guinea-Bissau.png'],
 [99,
  'Guyana',
  'GUY',
  'guyana',
  'guyana',
  'flags-normal/flag-of-Guyana.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Guyana.png',
  'flag-of-Guyana.png'],
 [100,
  'Haiti',
  'HAI',
  'haiti',
  'haiti',
  'flags-normal/flag-of-Haiti.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Haiti.png',
  'flag-of-Haiti.png'],
 [101,
  'Honduras',
  'HON',
  'honduras',
  'honduras',
  'flags-normal/flag-of-Honduras.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Honduras.png',
  'flag-of-Honduras.png'],
 [31,
  'Hong Kong',
  'HKG',
  'hong kong',
  'hongkong',
  'flags-normal/flag-of-Hong-Kong.png',
  'None',
  'flag-of-Hong-Kong.png'],
 [55,
  'Hungary',
  'HUN',
  'hungary',
  'hungary',
  'flags-normal/flag-of-Hungary.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Hungary.png',
  'flag-of-Hungary.png'],
 [81,
  'Iceland',
  'ISL',
  'iceland',
  'iceland',
  'flags-normal/flag-of-Iceland.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Iceland.png',
  'flag-of-Iceland.png'],
 [43,
  'India',
  'IND',
  'india',
  'india',
  'flags-normal/flag-of-India.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png',
  'flag-of-India.png'],
 [39,
  'Indonesia',
  'IDN',
  'indonesia',
  'indonesia',
  'flags-normal/flag-of-Indonesia.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Indonesia.png',
  'flag-of-Indonesia.png'],
 [17,
  'Iran',
  'IRN',
  'iran',
  'iran',
  'flags-normal/flag-of-Iran.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Iran.png',
  'flag-of-Iran.png'],
 [24,
  'Iraq',
  'IRQ',
  'iraq',
  'iraq',
  'flags-normal/flag-of-Iraq.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Iraq.png',
  'flag-of-Iraq.png'],
 [82,
  'Israel',
  'ISR',
  'israel',
  'israel',
  'flags-normal/flag-of-Israel.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Israel.png',
  'flag-of-Israel.png'],
 [57,
  'Italy',
  'ITA',
  'italy',
  'italy',
  'flags-normal/flag-of-Italy.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Italy.png',
  'flag-of-Italy.png'],
 [102,
  'Jamaica',
  'JAM',
  'jamaica',
  'jamaica',
  'flags-normal/flag-of-Jamaica.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Jamaica.png',
  'flag-of-Jamaica.png'],
 [18,
  'Japan',
  'JPN',
  'japan',
  'japan',
  'flags-normal/flag-of-Japan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Japan.png',
  'flag-of-Japan.png'],
 [25,
  'Jordan',
  'JOR',
  'jordan',
  'jordan',
  'flags-normal/flag-of-Jordan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Jordan.png',
  'flag-of-Jordan.png'],
 [87,
  'Kazakhstan',
  'KAZ',
  'kazakhstan',
  'kazakhstan',
  'flags-normal/flag-of-Kazakhstan.png',
  'https://www.countries-ofthe-world.com/flags-normal/flag-of-Kazakhstan.png',
  'flag-of-Kazakhstan.png'],
 [136,
  'Kenya',
  'KEN',
  'kenya',
  'kenya',
  'flags-normal/flag-of-Kenya.png',

In [12]:
from app.db import connectWriteSQL
import pandas as pd
from sqlalchemy import bindparam, text, String, Date, Integer
import numpy as np

con = connectWriteSQL() 

table_values = [[190,
  'Afghanistan',
  'AFG',
  'afghanistan',
  'afghanistan',
  'flags-normal/flag-of-Afghanistan.png',
  'gs-normal/flag-of-Afghanistan.png',
  'flag-of-Afghanistan.png'],
 [76,
  'Albania',
  'ALB',
  'albania',
  'albania',
  'flags-normal/flag-of-Albania.png',
  'normal/flag-of-Albania.png',
  'flag-of-Albania.png']]  # list of tuples

stmt = text("EXEC [Team].[procInsertFilteredNatTeams] @natteams = :table_values")

stmt = stmt.bindparams(
                bindparam('table_values', value=table_values)
            )

res = pd.read_sql_query(stmt, con)

res

Connecting SQL...

DataError: (pyodbc.DataError) ('22018', '[22018] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Operand type clash: UDTTTeams is incompatible with UDTTTeams (206) (SQLParamData)')
[SQL: EXEC [Team].[procInsertFilteredNatTeams] @natteams = ?]
[parameters: ([[190, 'Afghanistan', 'AFG', 'afghanistan', 'afghanistan', 'flags-normal/flag-of-Afghanistan.png', 'gs-normal/flag-of-Afghanistan.png', 'flag-of-Afghanistan.png'], [76, 'Albania', 'ALB', 'albania', 'albania', 'flags-normal/flag-of-Albania.png', 'normal/flag-of-Albania.png', 'flag-of-Albania.png']],)]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [90]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

data = []        
page = requests.get("https://en.wikipedia.org/wiki/List_of_FIFA_country_codes")
soup = BeautifulSoup(page.text, parser='lxml', features="lxml")
table = soup.find_all( "table", {"class":"wikitable"} )

for tabi in table[0:5]: 
    table_body = tabi.find('tbody')

    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td') 
        cols = [ele.text.strip() for ele in cols]
        datas1 = [ele for ele in cols]
        data.append(datas1)
    
tab1 = pd.DataFrame(data)
tab1.columns = tab1.iloc[0]
tab1 = tab1[1:]  
cols = ["teamName","countryCode","dat2"]
tab1.columns = cols
columnstoshow = ["teamName","countryCode"]
tab1 = tab1.loc[:,columnstoshow]
#tab1 = tab1[(tab1["teamName"].isna())]
#tab1 = tab1[(tab1["countryCode"].isna())]
tab1 = tab1.dropna()  
tab1["teamNameClean"] = tab1["teamName"].str.lower()
tab1["teamNameClean"] = tab1["teamNameClean"].str.strip()

tab1["teamNameClean"] = tab1["teamNameClean"].replace(replacingstrs, regex=True)
tab1["teamNameCleanAll"] = tab1["teamNameClean"].str.replace('\W', '', regex=True)
tab1["countryCode"] = tab1["countryCode"].str.partition('[')[0]
tab1['countryid'] = tab1['teamNameCleanAll'].map(countriesdictmap1)
tab1['countryid'] = tab1['countryid'].fillna(0)
tab1['countryid'] = tab1['countryid'].astype(int)
tab1 = tab1.set_index('countryid')
tab1.loc[:]

                 teamName countryCode   teamNameClean teamNameCleanAll
countryid
190           Afghanistan         AFG     afghanistan      afghanistan
76                Albania         ALB         albania          albania
117               Algeria         ALG         algeria          algeria
222        American Samoa         ASA  american samoa    americansamoa
193               Andorra         AND         andorra          andorra
...                   ...         ...             ...              ...
218          Sint Maarten         SXM    sint maarten      sintmaarten
0                  Tuvalu         TUV          tuvalu           tuvalu
0          United Kingdom         GBR  united kingdom    unitedkingdom
0          Western Sahara         ESH  western sahara    westernsahara
209              Zanzibar         ZAN        zanzibar         zanzibar

[225 rows x 4 columns]

In [89]:
#tab2 = tab1.groupby(['Longitude', 'Latitude'])['Crime type'].value_counts().to_frame('count')
b = tab1[(tab1.index.value_counts() > 1)]
b = pd.DataFrame(b)
b.head(50)

C:\Users\NoteBook\AppData\Local\Temp\ipykernel_16616\4003968008.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = tab1[(tab1.index.value_counts() > 1)]

                 teamName countryCode   teamNameClean teamNameCleanAll
countryid
0                Kiribati         KIR        kiribati         kiribati
0                    Niue         NIU            niue             niue
0                  Tuvalu         TUV          tuvalu           tuvalu
0          United Kingdom         GBR  united kingdom    unitedkingdom
0          Western Sahara         ESH  western sahara    westernsahara

In [ ]:
tab1['FlagPathWeb'] = tab1['FlagPath'].apply(lambda x: "{}{}".format('https://www.countries-ofthe-world.com/', x))
    tab1['Country'] = tab1['Country'].str.replace('\W', '', regex=True)        
    tab1['CountryLower'] = tab1['Country'].str.lower()
    #tab1['countryid'] = tab1['CountryLower'].map(natTeams.set_index('NationalTeamNameLower')['NationalTeamId'])
    tab1['countryid'] = tab1['CountryLower'].map(countriesdictmap)
    tab1['countryid'] = tab1['countryid'].fillna(0)
    tab1['countryid'] = tab1['countryid'].astype(int)
    tab1 = tab1.set_index('countryid')

    if show == 'web':
        showcols = ["FlagPathWeb"]

    elif show == 'local':
        showcols = ["FlagPath"]

    else:
        showcols = ["Country","FlagPath","FlagPathWeb"]

    tab1 = tab1[showcols]